body {
	font-family: var(--font-inter);
	min-height: 100vh;
}

[data-theme='dark'] {
	display: none;
}

.dark [data-theme='dark'] {
	display: block;
}

.dark [data-theme='light'] {
	display: none;
}

pre {
	font-size: 13px !important;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 4px;
}

code {
	font-family: var(--font-mono);
}
