# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Authentication
test/auth.json
docs/deploy/deploy_key
docs/deploy/deploy_key.pub

# Miscellaneous
.tmp/
.vscode/
docs/docs.json
