# npm
node_modules/

# Yarn
yarn.lock

# Log files
logs/
*.log

# Authentication
test/auth.json
test/auth.js
docs/deploy/deploy_key
docs/deploy/deploy_key.pub
deploy/deploy_key
deploy/deploy_key.pub

# Miscellaneous
.tmp/
.idea/

# Docs
docs/docs.json

# VSCode
.vscode/

# Built files
webpack/
dist/

# Ultra runner
.ultra.cache.json

# npm pack
*.tgz