# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
test/auth.json
test/auth.js
docs/deploy/deploy_key
docs/deploy/deploy_key.pub
deploy/deploy_key
deploy/deploy_key.pub

# Dist
dist/
docs/docs.json

# Miscellaneous
.tmp/
.idea/
.DS_Store
.yarn/
.turbo/
.vercel/
