# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Authentication
deploy/

# Miscellaneous
.tmp/
.vscode/
docs/

# NPM ignore
.commitlintrc.json
.lintstagedrc.json
.prettierrc.json
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
.github/
.husky/
jsdoc.json
test/
tsconfig.json
tslint.json
