# Packages
node_modules

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env
.env*.local

# Dist
.contentlayer
.next
public/searchIndex
src/styles/unocss.css

# Miscellaneous
.tmp
.vscode
lighthouse-results

