html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
		Arial, Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
	font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

#__next {
	height: 100%;
}

.light [data-theme='dark'] {
	display: none;
}

.dark [data-theme='light'] {
	display: none;
}

pre[data-theme='light'] {
	background: #ffffff;
	border: 1px solid #dddddd;
}

pre[data-theme='dark'] {
	background: #1e1e1e;
}

pre {
	font-size: 13px !important;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 4px;
}

code {
	font-family: 'JetBrains Mono', monospace !important;
}
