html,
body {
	height: 100vh;
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}

code {
	font-family: 'JetBrains Mono';
}

pre {
	font-family: 'JetBrains Mono';
}
