.classProp {
  margin: 32px 0;
  transition: 2s background;
  @include mq($from: desktop) {
    margin: 48px 0;
  }

  .propName {
    font-size: 18px;
    font-family: $monospace;
    margin-bottom: 4px;
    color: black;
    cursor: pointer;
  }

  .propName:hover {
    color: $primary_color;
  }

  .propDescription {
    border-left: 2px solid #ccc;
    padding: 8px 8px;
    color: #444;

    li {
      padding:6px 0;
    }

    p {
      margin: 0;
    }
  }

  .propType {
    border-left: 2px solid #ccc;
    padding: 4px 8px;
    color: #666;
    
    .type {
      font-family: $monospace;
      font-size: 14px;
    }

    .typeLink {
      text-decoration: none;
      color: $primary_color;
      cursor: pointer;
      font-weight: bold;
    }

    .typeLink:hover {
      color: lighten($primary_color, 20%);
    }
  }
}