body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: center;
  background: #222;
}

.container {
  width: 100%;
  max-width: 1120px;
  text-align: left;
  display: inline-block;
}