@import 'DocsSidebar';

.docs-viewer {
  background: #fafafa;
  color: #111;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;

  .doc-part-view {
    display: inline-block;
    margin-left: 4rem;
    flex: 1;

    h1 {
      margin: 0;
    }
  }
}

.docs-viewer > .container {
  display: inline-flex;
}