@import 'DocsSidebar';
@import 'ClassViewer';
@import 'FileViewer';
@import 'TypeDefViewer';

.docs-viewer {
  background: #fefefe;
  color: #111;

  padding: 1rem;

  hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 1rem 0;
  }

  .doc-part-view {
    display: inline-block;
    border-left: 1px solid #eee;
    padding-left: 2rem;
    flex: 1;

    p {
      font-size: 14px;
    }

    h1 {
      margin: 0;
      color: #333;
      font-weight: 300;
    }
  }

  .info {
    display: block;
    background: #f5f5f5;
    padding: 0.5rem;
    border-left: 2px solid lighten($primary_color, 5%);
    margin-top: 0.5rem;
  }

  .warn {
    display: block;
    background: #f5f5f5;
    padding: 0.5rem;
    border-left: 2px solid lighten(#f44242, 5%);
    margin-top: 0.5rem;
  }

  .scrolled {
    background: rgba(255, 255, 0, 0.3);
  }

  .type:not(:last-child):after {
    font-family: 'Source Sans Pro', sans-serif;
    content: " or ";
    font-weight: 500;
  }
}

.docs-viewer > .container {
  display: inline-flex;
  @include mq($until: desktop) {
    flex-direction: column;
  }
}
