.docs-sidebar{
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      color: #444;
      font-size: 0.9rem;
      padding: 0.2rem;
      padding-right: 4rem;
    }

    li:hover:not(:first-child) {
      color: $primary_color;
      text-decoration: underline;
      cursor: pointer;
      background: #eee;
    }

    li:first-child {
      text-transform: uppercase;
      font-weight: bold;
      color: black;
    }

    li:last-child {
      margin-bottom: 1rem;
    }

    .v-link-active {
      background: #f5f5f5;
    }
  }

  ul:last-child li:last-child {
    margin-bottom: 0;
  }
}