.docs-navbar {
  padding: 1rem;
  background: #333;
  color: white;

  .title {
    font-size: 1rem;
  }

  .choices {
    margin-top: 0.2rem;
    font-size: 0.9rem;
    margin-right: 1rem;
    display: inline-block;
    color: #aaa;

    .choice {
      color: #ddd;
      cursor: pointer;
    }

    .choice:hover {
      font-weight: bold;
      color: white;
    }
  }

  .branchSelect {
    margin-top: 0.2rem;
    display: inline-block;

    select {
      background: #333;
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
}