.fileViewer {
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  @include mq($until: desktop) {
    padding: 1rem 0;
  }

  code {
    font-family: $monospace;
    font-size: 13px;
  }

  *[data-selected] {
    background: lighten(#F3F321, 10%);
  }
  
  :not(pre) > code, .lang-bash {
    background: #f5f5f5;
  }
}