.index-view {
  .slide:first-child {
    @include bg-gradient-t2b(#2196F3, darken(#2196F3, 20%));
    color: white;

    h1 {
      font-size: 4rem;
      text-shadow: 0 0 3rem black;
    }

    .code {
      font-size: 1.2rem;
      color: #444;
      background: #f9f9f9;
      display:inline-block;
      padding: 0.5rem;
      border-radius: 4px;
      box-shadow: 0 0 1rem grey;
    }
  }

  .socialmedia {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .slide:nth-child(2) {
    background: #fafafa;
    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    a {
      color: #2196F3;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .slide:nth-child(3) {
    background: #eee;
    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    a {
      color: #2196F3;
      text-decoration: none;
      font-weight: bold;
    }
    .stats {
      width: 100%;
      max-width: 20rem;
      margin: 0 auto;
    }
    .stat {
      color: #555;
      font-size: 2rem;
      font-weight: 300;
      margin: 1rem 0;
      text-align: left;
    }
  }
}