@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import 'util';
@import 'mq';
@import 'navbar';
@import 'Index';
@import 'Docs';

.container {
  width: 100%;
  max-width: 1240px;
  text-align: left;
  display: inline-block;
}

.code {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: #1E2124;
}

.slide {
  padding: 1rem;
  @include mq($from: wide) {
    padding: 5rem 1rem;
  }

  .container {
    text-align: center;
  }
}

footer {
  padding: 1rem;
  color: #777;
  background: #1E2124;
}