# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env

# Dist
dist/
typings/
.cache/
build/
src/styles/unocss.css
.next/
src/assets/readme/

# Miscellaneous
.tmp/
coverage/
.vercel
public/searchIndex
.vscode
lighthouse-results/
