@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-twoslash/twoslash.css';

@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@layer base {
	* {
		font-family: var(--font-roboto);
		text-rendering: optimizeLegibility;

		scrollbar-width: thin;
	}
}

@utility scrollbar-hidden {
	scrollbar-width: none;
}

:root {
	--legacy-color: hsl(153, 48%, 41%);
	--voice-color: hsl(211.3, 66.1%, 65.3%);
	--v15-color: oklch(70.4% 0.191 22.216);
}

.legacy {
	--color-fd-primary: var(--legacy-color);
}

.voice {
	--color-fd-primary: var(--voice-color);
}

.v15 {
	--color-fd-primary: var(--v15-color);
}
