name: Publish dev docker images
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:
jobs:
  docker-publish:
    name: Docker publish
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: '@discordjs/proxy-container'
            image: 'proxy-container'
          - package: '@discordjs/redis-gateway'
            image: 'redis-gateway'
    runs-on: ubuntu-latest
    if: github.repository_owner == 'discordjs'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        uses: ./packages/actions/src/yarnCache

      - name: Build dependencies
        run: yarn build

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build & push docker image
        run: yarn docker build --buildkit ${{ matrix.package }} -t discordjs/${{ matrix.image }}:latest --push
