name: Tests
on: [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install node.js v16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn --immutable

      - name: ESLint
        run: yarn lint

      - name: Tests
        run: yarn test

      - name: Upload Coverage
        uses: ./packages/actions/src/uploadCoverage
        if: github.repository_owner == 'discordjs'

      - name: Build
        run: yarn build
